/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    position: fixed;
}

.logo {
    display: flex;
    justify-content: flex-start;
    list-style: none;

}

.list {
    display: flex;
    list-style: none;
}

.hero-block {
    background-image: url(./imagie/evian_origins_logo.png);
}

.bottles {
    display: flex;
    justify-content: space-around;

}

