* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50PX;
    position: fixed;
    z-index: 1;
}

.logo {
    list-style: none;
}

.link {
    display: flex;
}

.list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    list-style: none;
}

.hero-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./imagie/evian_origins_logo.png);
    height: 950px;
    font-size: 50px;
    color: #E50043;
}

.border {
    margin: 50px;
    padding: 30px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
}

h4 {
    margin-bottom: 30px;
}

.bottles {
    display: flex;
    justify-content: space-around;
}

.text{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.border-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 30px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 140px;
    padding-left: 50px;
    font-size: 50px;
    color: aliceblue;
    background: #F8BFC7;
}

.text-2 {
    list-style: none;
}

