/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.boutle-container {
    display: flex;
    justify-content: space-around;
}

.boutle-name {
    display: flex;
    justify-content: space-around;
}