* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: red;
    justify-content: center;
}
.box1 {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 800px;
    left: 70px;
    top: 112px;
    border: 5px solid #E5E000;
    border-radius: 30px;
}
.box2 {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 800px;
    left: 520px;
    top: 112px;
    border: 5px solid #E5E000;
    border-radius: 30px;
}
.box3 {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 800px;
    left: 970px;
    top: 112px;
    border: 5px solid #E5E000;
    border-radius: 30px;
}
.text1 {
    position: absolute;
    width: 334px;
    height: 670px;
    left: 103px;
    top: 209px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.text2 {
    position: absolute;
    width: 334px;
    height: 670px;
    left: 553px;
    top: 209px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.text3 {
    position: absolute;
    width: 334px;
    height: 670px;
    left: 1003px;
    top: 209px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.footer {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 964px;
    background: red;
}
.text4 {
    display: flex;
    padding: 20px;
    justify-content: center;
    color: #FFFFFF;
}