* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: red;
    height: 40px;
}
.boxes-container {
    padding: 50px 0; 
    display: flex;
    justify-content: center;
  }
  .box {
    margin: 0 25px; 
    padding: 33px;
    border: solid;
    border-color: #E5E000;
    height: 650px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: red;
    height: 40px;
  }