* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    width: 100%;
    height: 1100px;
    background-image: url(./images/CMD2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
.main-block {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}
.menu-container {
    padding: 20px 0;
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.links {
    display: flex;
    flex: 3;
    justify-content: space-around;
}
.news-blocks {
    width: auto;
    height: 200px;
    display: flex;
    background-color: rgba(207, 120, 223, 0.335);
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #fff; */
}
.items{
    color: aliceblue;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}
.second-menu {
    display: flex;
    padding: 40px 0;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    flex-direction: row;
}